<div class="surface-section h-30rem bg-no-repeat bg-cover bg-center flex align-items-center"
    style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://blocks.primeng.org/assets/images/blocks/ecommerce/storefront/storefront-1-18.png');">
    <div class="px-4 mx-4 lg:px-6 lg:mx-6"><span class="block text-3xl text-white mb-4">New Trend</span><span
            class="block text-5xl font-medium text-white mb-4">Special Collection</span><a tabindex="0" pRipple
            class="p-ripple p-element py-2 w-13rem text-center block mb-4 text-xl text-white font-medium border-2 cursor-pointer surface-border-0 border-round bg-white-alpha-30">Explore
            Collection<span class="p-ink" style="height: 208px; width: 208px; top: -87.5px; left: 60px;"></span></a>
    </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-900 text-4xl font-medium mb-4 text-center lg:text-left">Seasonal Collection</div>
    <p class="mt-0 p-0 mb-5 text-2xl text-600 text-center lg:text-left">Mata tincidunt dui ut ornare</p>
    <div class="grid -mt-3 -ml-3 -mr-3 flex-wrap">
        <div class="col flex px-3 flex-column mt-4 md:mt-0">
            <img src="https://blocks.primeng.org/assets/images/blocks/ecommerce/categorypreview/category-preview-1-1.png" alt="product"
                class="w-full h-full">
            <p class="text-600 uppercase font-medium my-3">Subtitle</p>
            <a tabindex="0"
                class="text-xl cursor-pointer text-900 flex align-items-center hover:text-primary transition-duration-150">Category
                Title <i class="pi pi-fw pi-arrow-right ml-2 text-xl"></i></a>
        </div>
        <div class="col flex px-3 flex-column mt-4 md:mt-0">
            <img src="https://blocks.primeng.org/assets/images/blocks/ecommerce/categorypreview/category-preview-1-2.png" alt="product"
                class="w-full h-full">
            <p class="text-600 uppercase font-medium my-3">Subtitle</p>
            <a tabindex="0"
                class="text-xl cursor-pointer text-900 flex align-items-center hover:text-primary transition-duration-150">Category
                Title <i class="pi pi-fw pi-arrow-right ml-2 text-xl"></i></a>
        </div>
        <div class="col flex px-3 flex-column mt-4 md:mt-0">
            <img src="https://blocks.primeng.org/assets/images/blocks/ecommerce/categorypreview/category-preview-1-3.png" alt="product"
                class="w-full h-full">
            <p class="text-600 uppercase font-medium my-3">Subtitle</p>
            <a tabindex="0"
                class="text-xl cursor-pointer text-900 flex align-items-center hover:text-primary transition-duration-150">Category
                Title <i class="pi pi-fw pi-arrow-right ml-2 text-xl"></i></a>
        </div>
        <div class="col flex px-3 flex-column mt-4 md:mt-0">
            <img src="https://blocks.primeng.org/assets/images/blocks/ecommerce/categorypreview/category-preview-1-4.png" alt="product"
                class="w-full h-full">
            <p class="text-600 uppercase font-medium my-3">Subtitle</p>
            <a tabindex="0"
                class="text-xl cursor-pointer text-900 flex align-items-center hover:text-primary transition-duration-150">Category
                Title <i class="pi pi-fw pi-arrow-right ml-2 text-xl"></i></a>
        </div>
        <div class="col flex px-3 flex-column mt-4 md:mt-0">
            <img src="https://blocks.primeng.org/assets/images/blocks/ecommerce/categorypreview/category-preview-1-5.png" alt="product"
                class="w-full h-full">
            <p class="text-600 uppercase font-medium my-3">Subtitle</p>
            <a tabindex="0"
                class="text-xl cursor-pointer text-900 flex align-items-center hover:text-primary transition-duration-150">Category
                Title <i class="pi pi-fw pi-arrow-right ml-2 text-xl"></i></a>
        </div>
    </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-900 font-medium text-4xl mb-4">Popular Items</div>
    <p class="mt-0 p-0 mb-5 text-600 text-2xl">From Brand</p>
    <div class="grid -mt-3 -ml-3 -mr-3">
        <div class="col-12 md:col-6 lg:col-3 mb-3 lg:mb-0">
            <div class="p-2">
                <div class="relative"><img src="https://blocks.primeng.org/assets/images/blocks/ecommerce/productlist/product-list-1-1.png"
                        class="w-full"><button type="text" pRipple
                        class="p-ripple p-element p-link w-3rem h-3rem surface-0 hover:surface-200 border-circle shadow-2 inline-flex align-items-center justify-content-center absolute transition-colors transition-duration-300"
                        style="top: 1rem; right: 1rem;"><i class="pi pi-heart text-2xl text-500"></i><span
                            class="p-ink"></span></button></div>
                <div class="flex align-items-center justify-content-between mt-3 mb-2"><span
                        class="text-900 font-medium text-xl">Product Name</span><span
                        class="text-900 text-xl ml-3">$14</span></div>
                <span class="text-600">Black</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 mb-3 lg:mb-0">
            <div class="p-2">
                <div class="relative"><img src="https://blocks.primeng.org/assets/images/blocks/ecommerce/productlist/product-list-1-2.png"
                        class="w-full"><button type="text" pRipple
                        class="p-ripple p-element p-link w-3rem h-3rem surface-0 hover:surface-200 border-circle shadow-2 inline-flex align-items-center justify-content-center absolute transition-colors transition-duration-300"
                        style="top: 1rem; right: 1rem;"><i class="pi pi-heart text-2xl text-500"></i><span
                            class="p-ink"></span></button></div>
                <div class="flex align-items-center justify-content-between mt-3 mb-2"><span
                        class="text-900 font-medium text-xl">Product Name</span><span
                        class="text-900 text-xl ml-3">$24</span></div>
                <span class="text-600">Beige</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 mb-3 lg:mb-0">
            <div class="p-2">
                <div class="relative"><img src="https://blocks.primeng.org/assets/images/blocks/ecommerce/productlist/product-list-1-3.png"
                        class="w-full"><button type="text" pRipple
                        class="p-ripple p-element p-link w-3rem h-3rem surface-0 hover:surface-200 border-circle shadow-2 inline-flex align-items-center justify-content-center absolute transition-colors transition-duration-300"
                        style="top: 1rem; right: 1rem;"><i class="pi pi-heart text-2xl text-500"></i><span
                            class="p-ink"></span></button></div>
                <div class="flex align-items-center justify-content-between mt-3 mb-2"><span
                        class="text-900 font-medium text-xl">Product Name</span><span
                        class="text-900 text-xl ml-3">$42</span></div>
                <span class="text-600">White</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="p-2">
                <div class="relative"><img src="https://blocks.primeng.org/assets/images/blocks/ecommerce/productlist/product-list-1-4.png"
                        class="w-full"><button type="text" pRipple
                        class="p-ripple p-element p-link w-3rem h-3rem surface-0 hover:surface-200 border-circle shadow-2 inline-flex align-items-center justify-content-center absolute transition-colors transition-duration-300"
                        style="top: 1rem; right: 1rem;"><i class="pi pi-heart text-2xl text-500"></i><span
                            class="p-ink"></span></button></div>
                <div class="flex align-items-center justify-content-between mt-3 mb-2"><span
                        class="text-900 font-medium text-xl">Product Name</span><span
                        class="text-900 text-xl ml-3">$20</span></div>
                <span class="text-600">Black</span>
            </div>
        </div>
    </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="surface-900 text-0 p-4" style="border-radius: 10px;">
        <div class="flex flex-column md:flex-row md:justify-content-between xl:justify-content-evenly"><span
                class="inline-flex align-items-center mb-3 md:mb-0"><i
                    class="pi pi-shopping-cart text-base xl:text-2xl mr-3"></i><span
                    class="text-base xl:text-2xl font-medium">Free Shipping</span></span><span
                class="inline-flex align-items-center mb-3 md:mb-0"><i
                    class="pi pi-refresh text-base xl:text-2xl mr-3"></i><span
                    class="text-base xl:text-2xl font-medium">120 Days Return Policy</span></span><span
                class="inline-flex align-items-center"><i class="pi pi-star text-base xl:text-2xl mr-3"></i><span
                    class="text-base xl:text-2xl font-medium">10 Year Warranty</span></span></div>
    </div>
</div>
<div class="flex flex-wrap surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="w-full md:w-6 px-4 py-8 md:px-6 lg:px-8 surface-900">
        <div class="text-4xl text-0 mb-3 font-medium">Promo Title Placeholder</div>
        <p class="line-height-3 mt-0 mb-7 p-0 text-0 text-2xl">Malesuada bibendum arcu vitae elementum curabitur vitae
            nunc. Aliquam nulla facilisi cras fermentum. Et egestas quis ipsum suspendisse ultrices.</p>
        <a tabindex="0" pRipple
            class="p-ripple p-element text-xl cursor-pointer surface-card text-900 text-center px-5 py-3 border-1 border-gray-200 hover:text-primary transition-duration-150 select-none block w-12rem">Read
            Story<span class="p-ink"></span></a>
    </div>
    <div class="w-full md:w-6 bg-no-repeat bg-cover"
        style="background: url('https://blocks.primeng.org/assets/images/blocks/ecommerce/storefront/storefront-1-17.png'); min-height: 400px;">
    </div>
</div>